<?xml version="1.0"?>
<config>
	<modules>
		<Magecomp_Wepay>
			<version>1.0.0</version>
			<name>WePay</name>
		</Magecomp_Wepay>
	</modules>
	<global>
		<models>
			<wepay>
				<class>Magecomp_Wepay_Model</class>
			</wepay>
		</models>
		<helpers>
			<wepay>
				<class>Magecomp_Wepay_Helper</class>
			</wepay>
		</helpers>
		<blocks>
			<wepay>
				<class>Magecomp_Wepay_Block</class>
			</wepay>
		</blocks>
        <resources>
            <wepay_setup>
                <setup>
                    <module>Magecomp_Wepay</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </wepay_setup>
        </resources>
	</global>

	<frontend>
		<routers>
			<wepay>
				<use>standard</use>
				<args>
					<module>Magecomp_Wepay</module>
					<frontName>wepay</frontName>
				</args>
			</wepay>
		</routers>
		<secure_url>
			<wepay>/wepay/</wepay>
		</secure_url>
	</frontend>

	<default>
		<payment>
			<wepay>
				<active>0</active>
				<cctypes>AE,VI,MC,DI</cctypes>
				<cgi_url>https://wepayapi.com/v2/</cgi_url>
				<debug>0</debug>
				<password backend_model="adminhtml/system_config_backend_encrypted"/>
				<access_token backend_model="adminhtml/system_config_backend_encrypted"/>
				<model>wepay/wepay</model>
				<order_status>processing</order_status>
				<payment_action>authorize</payment_action>
				<title>WePay</title>
				<allowspecific>0</allowspecific>
			</wepay>
		</payment>
	</default>
</config>
